  importFrom("graphics", "abline", "legend", "lines", "plot", "polygon")
  importFrom("stats", "binomial", "coef", "glm", "quantile", "rnorm",
             "vcov")
  importFrom("survival", "clogit", "strata")
